.header {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  height: 100vh;
  max-height: 800px;
  min-height: 720px;
}

.header__title {
  display: flex;
  flex-direction: column;
  max-width: 709px;
  margin-top: 183px;
  margin-left: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  font-family: "Noto Serif", Time New Roman, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  position: relative;
  max-width: 683px;
  margin-top: 28px;
  margin-left: 80px;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  color: #6f6f6f;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.header__shcedules {
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.header__adress {
  position: absolute;
  right: 80px;
  bottom: 40px;
}
